@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: poppins, sans-serif;
    min-height: 100vh;
    line-height: 2;
    
}


div{
    padding: 1.5rem;
}

ul{
    list-style-type: none;
}